[Unit]
Description=Minecraft Bedrock Server Frostbite World
After=network.target

[Service]
User=minecraft
WorkingDirectory=/home/minecraft/bedrock-frostbite
ExecStart=/home/minecraft/bedrock-frostbite/bedrock_server
Restart=on-failure
Nice=5

[Install]
WantedBy=multi-user.target
